.DS_Store

# LOGS
rsds/logs/nginx/*
!rsds/logs/nginx/.gitkeep
rsds/logs/mariadb/*
!rsds/logs/mariadb/.gitkeep
rsds/logs/php/*
!rsds/logs/php/.gitkeep

# MARIADB
rsds/mariadb/mariadb.env
rsds/mariadb/data/*
!rsds/mariadb/data/.gitkeep

#HTML
rsds/html/*
!rsds/html/.gitkeep
!rsds/html/info.php

# ================= DEV 0 =================
# LOGS
dev0/logs/nginx/*
!dev0/logs/nginx/.gitkeep
dev0/logs/mariadb/*
!dev0/logs/mariadb/.gitkeep
dev0/logs/php/*
!dev0/logs/php/.gitkeep

# MARIADB
dev0/mariadb/mariadb.env
dev0/mariadb/data/*
!dev0/mariadb/data/.gitkeep

#HTML
dev0/html/*
!dev0/html/.gitkeep
!dev0/html/info.php