.DS_Store

# LOGS
dev1/logs/nginx/*
!dev1/logs/nginx/.gitkeep
dev1/logs/mariadb/*
!dev1/logs/mariadb/.gitkeep
dev1/logs/php/*
!dev1/logs/php/.gitkeep

# MARIADB
dev1/mariadb/mariadb.env
dev1/mariadb/data/*
!dev1/mariadb/data/.gitkeep

#HTML
dev1/html/*
!dev1/html/.gitkeep
!dev1/html/info.php

# ================= DEV 0 =================
# LOGS
dev0/logs/nginx/*
!dev0/logs/nginx/.gitkeep
dev0/logs/mariadb/*
!dev0/logs/mariadb/.gitkeep
dev0/logs/php/*
!dev0/logs/php/.gitkeep

# MARIADB
dev0/mariadb/mariadb.env
dev0/mariadb/data/*
!dev0/mariadb/data/.gitkeep

#HTML
dev0/html/*
!dev0/html/.gitkeep
!dev0/html/info.php